@page "/"

<br/>
<h1 class="display-4">Scottish Hockey Reference</h1>

<MudDivider></MudDivider>
<br/>
<MudText Typo="Typo.body1">
    This website is an attempt to improve the way of viewing fixtures, results, and stats surrounding Scottish Hockey.
    <br/>
    It also includes historical results starting from the 2019-2020 season and Elo ratings for all teams starting from the 2021-2022 season.
    <br/>
    <br/>
    Results and tables are updated every 15 minutes.
</MudText>
