@page "/Matches"
@using DataLibrary
@using blazorserver.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<hr/>
<h3>Matches</h3>


<MudGrid>
    <!-- CATEGORY -->
    <MudItem xs="10" sm="5" md="3">
        <MudSelect Label="Category" Placeholder="Select category" @bind-Value="SelectedCategory" OffsetY="true" Variant="Variant.Outlined">
            <MudSelectItem Value=@("1")>Men's</MudSelectItem>
            <MudSelectItem Value=@("2")>Women's</MudSelectItem>
            <MudSelectItem Value=@("3")>Men's Indoor</MudSelectItem>
            <MudSelectItem Value=@("4")>Women's Indoor</MudSelectItem>
        </MudSelect>
    </MudItem>
    
    <!-- LEAGUE -->
    <MudItem xs="10" sm="5" md="3">
        <MudSelect Label="League" Placeholder="Select league" @bind-Value="SelectedLeague" OffsetY="true" Dense="true" Variant="Variant.Outlined">
            @foreach (var league in _leagues)
            {
                if (league.Hockey_Category_Id.ToString() == SelectedCategory)
                {
                    <MudSelectItem Value=@(league)>@league.Name</MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>
    
    <!-- OPTIONAL: TEAM -->
    <MudItem xs="10" sm="5" md="3">
        <MudSelect Label="Team" Placeholder="Select team" @bind-Value="SelectedTeam" OffsetY="true" Dense="true" Variant="Variant.Outlined">
            @foreach (var team in _teams)
            {
                if (SelectedLeague != null && team.League_ID == SelectedLeague.Id)
                {
                    <MudSelectItem Value=@(team)>@team.Teamname</MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>
    
    <!-- SEARCH -->
    <MudButton Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
</MudGrid>



@code {
    private string SelectedCategory { get; set; }
    private League SelectedLeague { get; set; }
    private Team SelectedTeam { get; set; }
    
    private List<Team> _teams;
    private List<League> _leagues;
    
    protected override async Task OnInitializedAsync()
    {
        _teams = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams;", new {}, _config.GetConnectionString("default"));
        _leagues = await _data.LoadData<League, dynamic>("SELECT * FROM Leagues;", new {}, _config.GetConnectionString("default"));
        // Add call for fixtures.
    }
}