
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Info</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    @for(int i = 0; i < (int)ViewData["NumTimes"];i++)
            {
                <p>Message recieved from URL: @ViewData["Message"]</p>
            }
</div>

