@page "/rankings"
@inject HttpClient Http

<h1>Rankings</h1>

<p>This page shows the overall ELO rankings for all teams registered with Scottish Hockey.</p>

@if (teams == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Rating</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            @{int rank = 1;}
            @foreach (var team in teams)
            {
                <tr>
                    <td>@rank</td>
                    <td>@team.TeamName</td>
                    <td>@team.Rating</td>
                    @if(@team.Movement >= 50){
                        <td>
                            <span class="oi oi-chevron-top" style="color:green"></span>
                        </td>
                    }else if(@team.Movement < 50){
                        <td>
                            <span class="oi oi-chevron-bottom" style="color:red"></span>
                        </td>
                    }else{
                        <td>-</td>
                    }
                </tr>
                rank = rank + 1;
            }
        </tbody>
    </table>
}

@code {
    private Team[] teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await Http.GetFromJsonAsync<Team[]>("https://60509aa95346090017670130.mockapi.io/teams?sortBy=rating&order=desc");
    }

    public class Team
    {
        public string TeamName { get; set; }

        public int Rating { get; set; }

        public int Movement { get; set; }
    }
}
